<a href="https://colab.research.google.com/github/kishorekumar1992/kishore/blob/main/Q7_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#importing dataset
dataset = pd.read_csv('/content/Q7.csv')

In [20]:
dataset.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [21]:
# Mean
dataset.mean()

<ipython-input-21-e37895194375>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [22]:
# Median
dataset.median()

<ipython-input-22-597e6e565815>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [25]:
# Mode
dataset[['Points', 'Score', 'Weigh']].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [27]:
dataset['Score'].mode()

0    3.44
Name: Score, dtype: float64

In [29]:
dataset['Weigh'].mode()

0    17.02
1    18.90
Name: Weigh, dtype: float64

In [30]:
dataset.var()

<ipython-input-30-a57f1e213d53>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [31]:
dataset.std()

<ipython-input-31-d926424df4d9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [33]:
# Range
Points_Range=dataset.Points.max()-dataset.Points.min()
Points_Range

2.17

In [35]:
Score_Range=dataset.Score.max()-dataset.Score.min()
Score_Range

3.9110000000000005

In [36]:
Weigh_Range=dataset.Weigh.max()-dataset.Weigh.min()
Weigh_Range

8.399999999999999