<a href="https://colab.research.google.com/github/kishorekumar1992/kishore/blob/main/Q9_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#importing dataset
from scipy.stats import kurtosis
dataset = pd.read_csv('/content/Q9.csv')

In [12]:
dataset

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [13]:
# Skewness
dataset.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [14]:
print ("the value of kurtosis")
print (dataset.kurtosis())

the value of kurtosis
Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64